*{
  margin: 0%;
  padding: 0%;
}
.container{
 width: 100%;
 height: 100vh;
}
.popup{
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 2px 1px 104px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 1px 104px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 104px -4px rgba(0,0,0,0.75);

}
.head{
  display: flex;
  justify-content: space-between;
  padding: 0% 10px;
  align-items: center;
  border-bottom: 1px solid gray;
}
.content{
  margin: 20px 30px;
}
.content .blue-box{
  border: 2px solid rgb(53, 177, 255);
  padding: 20px 30px;
}
.disable{
  display: none;
}
#sel{
  width: 400px;
  margin: 18px 0;
}
